{% extends 'base.html.twig' %}

{% block title %}
    Job MAKOMBELA - Portfolio - page d'Accueil
{% endblock %}

{% block body %}

    <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-center">

	    <img src="{{ asset('images/job-profile-ai.webp') }}" alt="Photo de Job MAKOMBELA Dévelloppeur d'application web" class="rounded-circle mb-4 profile"/>

	    <h1 class="display-4 fw-bold mb-3 main-title">Salut, moi c'est
		    <span> Job-Johnny Makombela</span>
	    </h1>

	    <p class="lead">
            Développeur Web & Mobile passionné, je conçois des applications modernes et efficaces avec Symfony, PHP, JavaScript, HTML5/CSS3, MySQL, Bootstrap, et bien plus.
            Mon objectif : transformer des idées en solutions digitales fiables, rapides et évolutives.
	    </p>
    </section>

    <!-- À propos -->
    <section id="about" class="py-5 px-3">
	    <div class="container text-center">
		    <h2 class="mb-4 fs-1 fw-bold">À propos</h2>
		    <p class="text-secondary fs-3 mx-auto">
			    Je conçois des solutions web et mobiles modernes et performantes,
                qui valorisent votre image, fidélisent vos utilisateurs et s’adaptent à tous les supports.
		    </p>
	    </div>
    </section>
	<!-- Education -->
    <section id="educations" class="py-5 px-3">
	    <div class="container text-center">
		    <h2 class="mb-5 fw-bold">Educations</h2>
		    <div class="row g-4 justify-content-center">
			{% for skill in skills %}
				{% if skill.educations is not empty %}
			    	<div class="col-md-6">
				    	<div class="card p-4 shadow text-white">
						{% for educ in skill.educations %}
					    	<h3 class="h5 fw-semibold mb-2">{{ educ.name }}</h3>
					    	<p>{{ educ.year | date }}</p>
					    	<p>{{ educ.school }}</p>
					    	<div>
						    	<a class="btn btn-primary fs-4" href="{{ asset("documents/" ~ educ.name ~ ".pdf" ) }}">Voir Certificat</a>
					    	</div>
						{% endfor %}
				    	</div>
			    	</div>
				{% endif %}
			{% endfor %}
		    </div>
	    </div>
    </section>
    <!-- Compétences -->
    <section id="skills" class="py-5 px-3">
	    <div class="container text-center">
		    <h2 class="mb-5 fw-bold">Compétences</h2>
		    <div class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
				
			{% for skill in skills %}
			    <div class="col">
				    <div class="card p-3 text-white">
					    <p class="mb-0">{{ skill.name }}</p>
				    </div>
			    </div>
			{% endfor %}
	    </div>
    </section>

    <!-- Projets -->
    <section id="projects" class="py-5 px-3">
	    <div class="container text-center">
		    <h2 class="mb-5 fw-bold">Mes Projets</h2>
		    <div class="row g-4 justify-content-center">
			{% for skill in skills %}
				{% if skill.projets is not empty %}
			    	<div class="col-md-6">
				    	<div class="card p-4 shadow text-white">
						{% for project in skill.projets %}
					    	<h3 class="h5 fw-semibold mb-2">{{ project.name }}</h3>
					    	<p>Une application web moderne sous symfony-php, qui est un Espace Numérique de Travail optimiser.</p>
					    	<div>
								{% if project.name == 'ent-facile' %}
						    		<a class="btn btn-primary fs-4" href="https://ent-facile.fr">Voir plus</a>
									{% elseif project.name == 'Portfolio' %}
										<a class="btn btn-primary fs-4" href="https://jobmakombela.fr">Voir plus</a>
									{% else %}
										<a class="btn btn-primary fs-4" href="https://ent-facile.fr">Lien indisponible</a>
								{% endif %}
					    	</div>
						{% endfor %}
				    	</div>
			    	</div>
				{% endif %}
			{% endfor %}
		    </div>
	    </div>
    </section>

<!-- Contact -->
<section id="contact" class="py-5 px-3">
	<div class="container">
		<div class="text-center">
			<h2 class="mb-4 fw-bold">Contacte-moi</h2>
		</div>
		{% for label, messages in app.flashes %}
    		{% for message in messages %}
        		<div class="alert alert-{{ label }}">
            		{{ message }}
        		</div>
    		{% endfor %}
		{% endfor %}

		{{ form_start(form) }}
			<div class="mb-3 fs-3">
				{{ form_row(form.email) }}
			</div>
			<div class="mb-3 fs-3">
				{{ form_row(form.subjects) }}
			</div>
			<div class="mb-3 fs-3">
				{{ form_row(form.message) }}
			</div>
			<div class="mb-3 text-center">
				{{ form_row(form.envoyer) }}
			</div>
		{{ form_end(form) }}
	</div>
</section>

{% endblock %}
